.env
.env_live
vendor/
public/uploads/
public/fonts/sedcardpdf
file/

composer.lock
composer.phar
node_modules/
package-lock.json
npm-debug.log

yarn.lock
yarn-error\.log

public/uploads
public/images

/.phpintel
/bootstrap/cache
/storage/framework/views
/storage/framework/sessions
public/migrationlog
bkup
.well-known
storage/clockwork
storage/database/maxmind
/nbproject/private/
project.properties
public/project.xml
public/sitemap.xml
public/blogs.xml
public/categories.xml
public/pages.xml
public/robots.txt
public/.htaccess
resources/lang
uploads
/.well-known/acme-challenge/*
storage/database/maxmind